body {
  font-family: latha;
  color: white;
  background: linear-gradient(
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    ),
    url(https://mevanrestaurant.com/images/kebab03.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

.CursorP {
  cursor: pointer;
}

p {
  color: #000;
}
#medewerkerPage {
  display: none;
}

#reserveerknop{
  display: none;
}
#eigenreserveringenlink{
  display: none;
}
#reservations{
  display: none;
  background-color: white;
  color: #000;
}
#reservations1{
  display: none;
  background-color: white;
  color: #000;
}

#patchPage1{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -(dialogwidth/2);
  margin-top: -(dialogheight/2);
}
#verwijderPage1{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -(dialogwidth/2);
  margin-top: -(dialogheight/2);
}
#hiddenButton{
  display: none;
}
.container {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
  min-width: 200px;
  min-height: 150px;
}

.menu {
    width: 850px;
    height: 600px;
}

#registerPage {
  margin-top: 150px;
  margin-bottom: 150px;
}
.input {
  margin: 10px;
}

.label {
  display: block;
  font-size: 1em;
  color: #666;
  margin-bottom: 2px;
}


input, .label1 {
  font-size: 1.4em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  width: 300px;
}

.label1 {
  width: 320px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

#uitloglink {
  display: none;
}

.hidden {
  display: none;
}

.box {
  width: 700px;
  float: left;
  border: 1px solid none;
  position: absolute;
  right: -100px; 
}

.box2{
  width: 700px;
  border: 1px solid none;
  margin-left: 100px;
  position: absolute;
  right: -30px; 
}
.userName {
 padding-left: 50px;
}
.inlognaam{
  padding-left: 50px;
}

.box ul li {
  float: left;
  text-align: center;
  padding: 5px;
}

.box ul li a {
  text-decoration: none;
  color: darkgray;
}

.box ul h7 {
  color: darkgray;
  padding: 5px;
}

.box ul h8,
.box ul h9 {
  color: darkgray;
}


.box ul li a:hover {
  color: white;
}

.box2 ul li {
  float: left;
  text-align: center;
  padding: 5px;
}

.box2 ul li a {
  text-decoration: none;
  color: darkgray;
}

.box2 ul h7 {
  color: darkgray;
  padding: 5px;
}

.box2 ul h8,
.box2 ul h9 {
  color: darkgray;
}


.box2 ul li a:hover {
  color: white;
}



.wd {
  width: 300px;
  height: 700px;
  background-color: black;
  opacity: 0.9;
  padding: 55px;
  margin-top: 20px;
}

.wd h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100px;
}

.wd h4 {
  text-align: justify;
  color: darkgray;
  font-weight: normal;
}
.wd h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 40px auto;
}

.opt form,
input[type="button"] {
  background-color: black;
  color: white;
  padding: 10px;
  margin: -14px auto;
  margin-top: 10px;
  margin-left: -23px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

form,
input[type="button"]:hover {
  background-color: green;
}

.snackbarfoto {
  width: 75mm;
  height: 10cm;
}
